<div class="flex h-screen overflow-hidden">
  <app-sidebar />
  <!-- ===== Content Area Start ===== -->
  <div class="relative flex flex-col flex-1 overflow-x-hidden overflow-y-auto">
    <!-- Header -->
    <app-header />
    <!-- Main -->
    <main>
      <div class="p-4 mx-auto max-w-(--breakpoint-2xl) md:p-6">
        <div class="grid grid-cols-12 gap-4 md:gap-6">
          <div class="col-span-12 space-y-6 xl:col-span-7">
              <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </main>
  </div>

</div>